<!DOCTYPE html>
<head>
    <title>视频列表</title>
    <meta charset="UTF-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="/css/iview.css">
    <link rel="stylesheet" type="text/css" href="/plugs/vide7.4.1/css/video-js.min.css">
</head>
<body style="background-color: #f7dad2">
<div id="app">
    <Row type="flex" justify="center" align="middle" v-for="(item, index) in videoList" key="index">

        <i-col span="12">
            <div><span style="font-size: 20px">{{item.videoName}}</span></div>
            <div style="height: 200px" >
                <video :src="item.videoUrl" controls  style="height: 150px;"></video>
            </div>

        </i-col>

    </Row>

    <Page :total="page.total" :current="page.pageNumber" :page-size="page.pageSize" @on-change="pageChange"  ></Page>
</div>

</body>
<script src="/libs/jquery.min.js"></script>
<script type="text/javascript" src="/js/vue.min.js"></script>
<script type="text/javascript" src="/js/iview.min.js"></script>
<script type="text/javascript" src="/plugs/vide7.4.1/js/video.min.js"></script>
<script>
    var vm =new Vue({
        el: '#app',
        data: {
            visible: false,
            page:{
                pageNumber:1,
                pageSize:5,
                total:10
            },
            videoList:[]
        },
        created: function () {
            //初始化数据
            $.ajax({
                url : '/video/list',
                type : "post",
                contentType : 'application/json',
                data : JSON.stringify(this.page),
                success : function(data) {
                    vm.videoList = data.rows;
                    vm.page.total = data.total;
                    vm.page.pageNumber = data.pageNo;
                    vm.page.pageSize = data.pageSize;
                },
            });
        },
        methods: {
            show: function () {
                this.visible = true;
            },
            pageChange:function (pageNumber) {
                vm.page.pageNumber = pageNumber;
                $.ajax({
                    url : '/video/list',
                    type : "post",
                    contentType : 'application/json',
                    data : JSON.stringify(vm.page),
                    success : function(data) {
                        vm.videoList = data.rows;
                        vm.page.total = data.total;
                        vm.page.pageNumber = data.pageNo;
                        vm.page.pageSize = data.pageSize;
                    },
                });
            }
        }
    })
</script>
</html>